h2 {
    color:chocolate;
    
  }
  p {
    margin-left: 50px; 
    margin-right: 50px;
  }
  a.link{
    display: block; /* Makes the link take up its own line */
    text-align: right; /* Aligns the link text to the right */
    margin-right: 0;
    color: blue;
    display: block;
    margin-left: 50;

    
  }